
.soc{
    font-family: monospace;
    font-size: 20px;
}
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}
.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #000000;
    background: rgba(255, 255, 255, 0.324)!important;
}
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
}

header h1, footer p {
    margin: 0;
}

.container {
    width: 90%;
    margin: 10px auto;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-section {
    flex: 2; /* Two-thirds width */
}

.side-section {
    flex: 1.2; /* One-third width */
}

.section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable vertical scrollbar */
    max-height: 400px; /* Limit height of each column */
}
h2{
    margin-top: 5px;
    margin-bottom: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
p{
    margin:2px;
}
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.embedded-content {
    overflow-y: auto;
    height: 600px; /* Adjust max height as needed */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.student-body h2 {
    font-size: 28px;
    margin-bottom: 10px;


}
.box{
    background-color: #ffffff94;
    padding: 10px;
    border-radius:10px ;
}
.event{
    font-family: monospace;
    font-size: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 0.5px dashed #000;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}